@import "tailwindcss";

:root{
  --dog-orange : #FE8E00;
}

:root{
  --dog-white : #FEECCB;
 }

body {
  font-family: var(--font-nunito), sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-fredoka), sans-serif;
}